**/.idea/
**/.vs/
**/.vscode/
bin/
obj/
**/.DS_Store
appsettings.*.json
!appsettings.json
*.user
*.suio

!important!.vscode/settings.json
!important!.vscode/tasks.json
!important!.vscode/launch.json
!important!.vscode/extensions.json
!important!.vscode/*.code-snippets.devenv
